/*======================================
	Header CSS
========================================*/
.header{
	position:relative;
}
/* Topbar */
.topbar {
    background-color: #2e2751;
    padding: 8px 0;
}
.top-contact {
    padding-top: 8px;
}
.topbar .single-contact {
    display: inline-block;
    margin-right: 25px;
    color: #ccc;
    cursor: pointer;
}
.topbar .single-contact:last-child{
	margin-right:0px;
}
.topbar .single-contact,
.topbar .single-contact a{
    color: #ccc;
	font-weight:normal;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
	font-size:14px;
}
.topbar .single-contact svg {
	color: #f3a712;
	margin-right: 10px;
	font-size: 18px;
	position: relative;
	top: 2px;
}
.topbar .single-contact:hover,
.topbar .single-contact a:hover{
	color:#fff;
}
/* Top right */
.topbar-right {
    position: relative;
    float: right;
}
.topbar-right .button {
    float: left;
    right: 0;
}
.topbar-right .button .bizwheel-btn {
    height: auto;
    text-transform: initial;
    padding: 8px 15px;
    line-height: initial;
    background: #fff;
	font-size:14px;
    color: #f3a712;
    border: 1px solid transparent;
}
.topbar-right .button .bizwheel-btn:hover{
	background:transparent;
	border-color:#fff;
	color:#fff;
}
/* Social Icons */
.topbar .social-icons {
    float: left;
    margin-right: 20px;
    padding-top: 8px;
}
.topbar .social-icons li {
	display: inline-block;
	margin-right: 10px;
}
.topbar .social-icons li:last-child{
	margin:0;
}
.topbar .social-icons li a {
	color: #ccc;
}
.topbar .social-icons li a:hover{
	color:#F3A712;
}

/* Middle header */
.header-inner {
	padding: 20px 0;
	background: #333;
}
.middle-header {
    background: #fff;
    position: relative;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
/* Logo */
.header .logo {
    z-index: 33;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -moz-box-shadow: inherit;
}
.header .img-logo {
    margin-top: 22px;
}
.header .text-logo{
	margin-top:30px;
}
.header .text-logo a,
.header .img-logo a {
    font-size: 26px;
    font-weight: 600;
    display: block;
    z-index: 9999;
    position: relative;
}
.header .menu-area {
    position: relative;
}
.header .navbar {
	padding: 0;
}
/* Main Menu */
.header .nav-inner {
    float: right;
    margin-right: 140px;
    text-align: right;
}
.header .nav li {
    margin-right: 30px;
    position: relative;
    float: none;
    display: inline-block;
}
.header .nav li:last-child{
	margin:0;
}
.header .nav li a {
    text-transform: capitalize;
    position: relative;
    display: block;
    padding: 30px 0;
    color: #2E2751;
    font-weight: 600;
}
.header .nav li.active a,
.header .nav li:hover a{
	color:#179E66;
}
.header .nav li a::before {
	content: "";
	position: absolute;
	width: 0;
	height: 4px;
	background: #179E66;
	bottom: -2px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.header .nav li.active a::before,
.header .nav li:hover a::before {
	opacity:1;
	visibility:visible;
    transform: scaleY(1);
	width: 50%;
}
.navbar-expand-lg .navbar-collapse{
	display:block !important;
}
.header .nav li a i {
	margin-left: 6px;
	font-size: 10px;
}
.header .nav li.icon-active a::after {
	content: "\f107";
	position: relative;
	font-family: 'FontAwesome';
	padding-left: 6px;
}
.header .nav li .sub-menu a::after,
.header .nav li.icon-active .sub-menu li.icon-active .sub-menu a::after,
.header .nav li.icon-active .sub-menu li.icon-active .sub-menu li.icon-active .sub-menu a::after{
	display:none;
}
.header .nav li.icon-active .sub-menu li.icon-active a::after, .header .nav li.icon-active .sub-menu li.icon-active .sub-menu li.icon-active a::after {
    display: inline-block;
    float: left;
    content: "\f100";
    padding: 0;
    margin-right: 8px;
}
/* Dropdown Menu */
.header .nav li .sub-menu {
    background: #fff;
    width: 220px;
    text-align: left;
    position: absolute;
    top: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    padding: 20px;
    left: -32px;
    margin: 0;
    -webkit-box-shadow: 1px 4px 12px rgba(51, 51, 51, 0.25);
    -moz-box-shadow: 1px 4px 12px rgba(51, 51, 51, 0.25);
    box-shadow: 1px 4px 12px rgba(51, 51, 51, 0.25);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.header .nav li:hover .sub-menu{
	opacity:1;
	visibility:visible;
}
.header .nav li .sub-menu li {
    float: none;
    margin: 0;
    display: block;
}
.header .nav li .sub-menu li:last-child{
	border:none;
}
.header .nav li .sub-menu li a {
    padding: 6px 15px;
    color: #666;
    display: block;
    font-size: 14px;
    font-weight: normal;
    text-transform: capitalize;
    background: transparent;
}
.header .nav li .sub-menu li a:before{
	display:none;
}
.header .nav li .sub-menu li:last-child a{
	border-bottom:0px;
}
.header .nav li .sub-menu li:hover a{
	color:#fff;
	background:#179E66;
}
.header .nav li .sub-menu li a:hover{
	border-color:transparent;
}
.header .nav li .sub-menu li svg {
	float: right;
	margin-top: 8px;
	font-size:10px;
	z-index:5;
    color: #ebebeb;
}
.header .nav li .sub-menu li .sub-menu {
    top: 0;
    left: initial;
    left: -122%;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px #3333334d;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
    padding: 10px;
}
.header .nav li .sub-menu li:hover .sub-menu{
	opacity:1;
	visibility:visible;
}
.header .nav li .sub-menu li .sub-menu li a{
	padding: 8px 15px;
	color: #666;
	display: block;
	font-weight: normal;
	text-transform: capitalize;
	background: transparent;
}
.header .nav li .sub-menu li:hover .sub-menu li a{
	background:transparent;
}
.header .nav li .sub-menu li .sub-menu li a:hover{
	color:#fff;
	background:#179E66;
}
.header .nav li .sub-menu .sub-menu li:last-child a{
	border-bottom:0px solid;
}
.header .nav li .sub-menu li .sub-menu .sub-menu {
	transform: scaleY(0.2);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	opacity: 0;
	visibility: hidden;
	padding: 10px;
}
.header .nav li .sub-menu li .sub-menu li:hover .sub-menu {
	opacity: 1;
	visibility: visible;
	transform: scaleY(1);
}
/* Right Bar */
.right-bar {
    display: inline-block;
    position: absolute;
    right: 0;
    height: 100%;
    line-height: 86px;
    z-index: 3333;
    top: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.right-bar .right-nav{
	z-index: 333;
	position: relative;
}
.right-bar:after {
    content: '';
    position: absolute;
    top: 0;
    left: -21px;
    width: 118px;
    height: 101%;
    transform: skew(-26deg);
    background: #f3a712;
    z-index: -1;
}
.right-bar ul li {
    display: inline-block;
    margin-right: 5px;
}
.right-bar ul li:last-child{
	margin:0;
}
.right-bar .right-nav li a {
    color: #fff;
    text-align: center;
    display: block;
    cursor: pointer;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 100%;
}
.right-bar .right-nav li a:hover {
    color: #F3A712;
    border-color: transparent;
    background: #fff;
}
.cart-items{
	position:relative;
}
.cart-items span {
	position: absolute;
	top: -8px;
	background: #179E66;
	color: #fff;
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 13px;
	border-radius: 100%;
	left: 93%;
	display: table-cell;
}

/* Header Search */
.search-top {
    position: absolute;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 85px;
    width: 350px;
    right: 0;
    line-height: initial;
}
.search-top.active{
	opacity:1;
	visibility:visible;
}
.search-top .search-form {
    position: relative;
    background: #fff;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.33);
}
.search-top .search-form input {
    height: 50px;
    line-height: 45px;
    padding: 0 45px 0 20px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border: none;
    background: #fff;
    color: #333;
    border-radius: 0px;
    width: 100%;
    font-size: 14px;
    border: 1px solid #ebebeb;
}
.search-top .search-form button {
    position: absolute;
    width: 45px;
    border: none;
    top: 15px;
    line-height: 50px;
    height: 50px;
    border-radius: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    right: 16px;
    background: #2E2751;
    color: #fff;
}
.search-top .search-form button:hover{
	color:#fff;
	background:#F3A712;
}
.search-top .search-top.active .search i:before{
	content:"\f00d";
}

/* Sidebar Popup */
.sidebar-popup {
    position: fixed;
    width: 300px;
    height: 100%;
    right: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    overflow: auto;
    transform: translateX(100%);
    top: 0;
	border-left:3px solid #F3A712;
    background: #fff;
    /* z-index: 6000; */
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    z-index: 999999;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 30px 25px;
}
.sidebar-popup.active{
	opacity:1;
	visibility:visible;
	transform:translateX(0%);
	right:0;
}
.sidebar-popup .cross {
    position: absolute;
    right: 5px;
    top: 5px;
}
.sidebar-popup .cross .btn {
	width: 40px;
	height: 40px;
	line-height: 37px;
	padding: 0;
	margin: 0;
	font-size: 16px;
	cursor: pointer;
	color: #fff;
	border-radius: 100%;
	background: #2E2751;
}
.sidebar-popup .cross .btn:hover{
	background:#F3A712;
	color:#fff;
}
.sidebar-popup .logo {
    margin: 0;
    padding: 0;
    float: none;
    margin-bottom: 10px;
    background: transparent;
    position: relative;
    padding: 0;
    box-shadow: none;
    line-height: initial;
    height: auto;
}
.sidebar-popup .logo a{
	display:inline-block;
}
.sidebar-popup .single-content {
    margin-bottom: 40px;
}
.sidebar-popup .single-content:last-child{
	margin:0;
	border:none;
}
.sidebar-popup .single-content h4 {
    position: relative;
    font-size: 18px;
    text-transform: capitalize;
    color: #2E2751;
    line-height: initial;
    margin-bottom: 11px;
}
.sidebar-popup .single-content .social {
    margin-top: 20px;
}
.sidebar-popup .single-content p {
	font-size: 14px;
}
/* Social */
.sidebar-popup .social li{
	display:inline-block;
	margin-right:5px;
}
.sidebar-popup .social li:last-child{
	margin-right:0px;
}
.sidebar-popup .social li a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #666;
    background: transparent;
    border: 1px solid rgba(204, 204, 204, 0.66);
    border-radius: 100%;
    display: block;
}
.sidebar-popup .social li a:hover,
.sidebar-popup .social li.active a{
	background:#179E66;
	border-color:transparent;
	color:#fff;
	border-radius:100%;
}
/* Links */
.sidebar-popup .links li{
	display:block;
	margin-bottom:6px;
	border-bottom:1px solid #eee;
}
.sidebar-popup .links li:last-child{
	border:none;
}
.sidebar-popup .links li a{
	text-transform:capitalize;
	color: #333;
	line-height: 35px;
}
.sidebar-popup .links li a:hover{
	color:#179E66;
}

/* Header Style 2*/
.header.style2 .middle-header {
    position: absolute;
    top: 51px;
    z-index: 9000;
    width: 100%;
    background: transparent;
    border: none;
	box-shadow:none;
}
.header.style2 .middle-inner{
	background:#2E2751;
	z-index:2035;
	padding:10px 20px;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.header.style2 .topbar {
    background: #fff;
    padding: 15px 0 35px;
}
.header.style2 .topbar .single-contact, .header.style2 .topbar .single-contact a{
	color:#666;
}
.header.style2 .topbar .social-icons li a{
	color:#2E2751;
}
.header.style2 .topbar .social-icons li:hover a{
	color:#F3A712;
}
.header.style2 .img-logo {
    margin-top: 12px;
}
.header.style2 .text-logo {
    margin-top: 16px;
}
.header.style2 .text-logo a{
	color:#fff;
}
.header.style2 .logo {
    position: relative;
    top: 0;
    height: auto;
    margin: 0;
    background: transparent;
    box-shadow: none;
    line-height: initial;
    padding: 0;
    margin: 0;
}
.header.style2 .nav li a {
    color: #eee;
    padding: 22px 0;
}
.header.style2 .nav li:hover a{
	color:#E7A014;
}
.header.style2 .nav li a::before{
	background:#F3A712;
}
.header.style2 .nav li .sub-menu li a{
	color:#666;
}
.header.style2 .nav li .sub-menu li:hover a{
	background:#E7A013;
	color:#fff;
}
.header.style2 .nav li .sub-menu li .sub-menu li a{
	color:#666;
}
.header.style2 .nav li .sub-menu li .sub-menu li:hover a{
	background:#E7A013;
	color:#fff;
}
.header.style2 .button {
    position: absolute;
    right: 0;
    top: 7px;
}
.header.style2 .bizwheel-btn {
    background: #179E66;
    padding: 12px 20px;
    font-size: 14px;
}
.header.style2 .topbar .social-icons {
    margin: 0;
}
.header.style2 .nav-inner {
    margin-right: 165px;
}
.header.style2 .bizwheel-btn:hover{
	background:#fff;
	color:#179E66;
}
.header.style2 .top-contact, 
.header.style2 .social-icons {
    padding: 0;
}
/*======================================
	End Header CSS
========================================*/

@media only screen and (min-width: 991px) and (max-width: 1900px) {
    .header.sticky .middle-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 300000;
        -webkit-box-shadow: 0px 0px 10px #00000021;
        -moz-box-shadow: 0px 0px 10px #00000021;
        box-shadow: 0px 0px 10px #00000021;
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        transition: all 0.6s ease;
        animation: fadeInDown 1s both 0.2s;
    }
    .header.style2.sticky .middle-header {
        background: #2E2751;
    }
    
    .header.sticky .nav li a {
        padding: 22px 0;
    }
    .header.sticky .text-logo {
        margin-top: 22px;
    }
    .header.sticky .right-bar {
        line-height: 72px;
    }
    .header.sticky .img-logo {
        margin-top: 12px;
    }
    .header.style2.sticky .middle-inner {
        padding: 0;
    }
    .header.style2.sticky .text-logo {
        margin-top: 15px;
    }
    .header.sticky .search-top {
        top: 69px;
    }
}
@media only screen and (min-width: 1200px){
    .hero-slider img{
        width: 100%;
        height: 100%;
    }
}